* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

body {
  background: #252836;
}

.ovqat {
  width: 100%;
  min-height: 100vh;
  background: #252836;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.divs {
  display: flex;
}

.img-div {
  width: 104px;
  min-height: 100vh;
  padding-top: 10px;
  background: #1f1d2b;
  border-radius: 18px 0 0 18px;
}

.flex {
  width: 104px;
  height: 103px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex img {
  width: 24px;
  height: 24px;
  padding: 0;
}

.div1 img {
  width: 56px;
  height: 56px;
  padding: 14px;
  background: #543c3b;
  border-radius: 12px;
}
.div2 {
  background: #252836;
  border-radius: 18px 0 0 18px;
}

.div2 img {
  width: 56px;
  height: 56px;
  padding: 16px;
  background: #ff786b;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(255, 120, 107, 0.25);
}
